# *.txt
*.o
*.bin
*.xml
*.name
*.iml
*.log
*.marks
*.cmake
*.make
*.a
*.*~
*Makefile*
*.cbp
*.internal
*.includecache
*.check_cache
*.out
cmake-build*
build
debug
tracking_output
.mypy_cache
__pycache__
.vscode
run_exps.sh
sc2.sh
results
results_old
reevaluated
collect_exps.py
best_rnd.csv